@import './../styles.scss';
// Not sure if centering main is good practice, but then again I'm not a professional CSSer
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#name-and-list{
    background-color: $frame;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}