@import './../styles.scss';
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#title-input {
    display: flex;
    justify-content: center;
    min-width: 100px;
    width: 30%;
}
#task-list {
    display: flex;
    width: 100%;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}


#name-and-list{
    width: 40vw;
    background-color: $frame;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 4em;
    border-radius: 10px;
}