@import './../styles.scss';
.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#name-and-list{
    width: 40vw;
    max-width: 60em;
    background-color: $frame;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em 4em;
    border-radius: 10px;
}