@use '@angular/material' as mat;
@import './../../styles.scss';

#task-list-wrapper {
    outline: $orange solid 1px;
    border-radius: 10px;
    width: 100%;
    min-width: 300px;
}


table {
    @include mat.tabs-overrides((
    active-indicator-color: $orange,
    active-focus-indicator-color: $orange,
    divider-color: red,
  ));
    width: 100%;
    background-color: $foreground;
    border-radius: 10px;
    padding: 1em 4em;
}



mat-tab-group tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $white;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-width: 0em;
    border-bottom: 2px;
    border-style: solid;
    border-color: $orange;
    .button-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding-left: 0.4em;
    }
    button {
        margin: 0.5em;
        padding: 0.8em;
        height: fit-content;
        width: fit-content;
    }
}

.no-tasks {
    width: 100%;
    color: $white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete-button{
    color: $white;
    background-color: $red;
}
#complete-button {
    color: $white;
    background-color: $green;
}


