@import './../../styles.scss';
li{
    list-style-type: none;
}
.task-item{
    display: flex;
    align-items: center;
}
#button-wrapper {
    align-items: end;
}

.complete{
    background-color: $green;
}
.active{
    background-color: $red;
}